<div class="navbar">
    <div class="brand">Nokida</div>
    <ul class="nav-items">
        <li class="dropdown">
            <a>Commands</a>
            <ul>
                <li>
                    <a id="fullscreen-btn">Open Video</a>
                </li>
                 <li>
                    <a id="fullscreen-btn">Close Video</a>
                </li>
                <li>
                    <a id="fullscreen-btn">Full Screen</a>
                </li>
                <li>
                    <a id="fullscreen-btn">ScreenShot</a>
                </li>
            </ul>
        </li>

        <li class="connection-indicator">
            <connection-indicator id="connection-indicator"></connection-indicator>
        </li>
        <li class="nav-icon power">
            <a id="power-btn" href="#">
                <img src="/img/power-icon.png"/>
            </a>
        </li>
    </ul>
</div>
